@media (max-width: 767px) {
    .header {
        justify-content: space-around;
    }
    .promo__wrapper {
        align-items: center;
    }
    .advantages__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .advantages__item {
        margin-top: 50px;
    }
    .title_left {
        text-align: center;
    }
    .consultation__descr {
        text-align: center;
    }
    .catalog__content {
        justify-content: space-around;
    }
    .feed__item {
        flex-direction: column;
        align-items: center;
    }
    .feed__img {
        margin-bottom: 40px;
    }
}

@media (max-width: 575px) {
    .carousel {
        display: block;
    }
}